% include('templates/html/reactjs_sample/header.html', data=data)

<div id="root"></div>
    <script type="text/babel">

      ReactDOM.render(
        <h1>Cool, flybee started!</h1>,
        document.getElementById('root')
      );
      
    </script>
    <!--
      Note: this page is a great way to try React but it's not suitable for production.
      It slowly compiles JSX with Babel in the browser and uses a large development build of React.

      To set up a production-ready React build environment, follow these instructions:
      * https://reactjs.org/docs/add-react-to-a-new-app.html
      * https://reactjs.org/docs/add-react-to-an-existing-app.html

      You can also use React without JSX, in which case you can remove Babel:
      * https://reactjs.org/docs/react-without-jsx.html
      * https://reactjs.org/docs/cdn-links.html
    -->
  </body>

% include('templates/html/reactjs_sample/footer.html')